# Virtual environment
venv/
env/
ENV/
venv.bak/
env.bak/

# Python cache
__pycache__/
*.py[cod]

# Local database
*.sqlite3
.db

# Collected static files
staticfiles/
media/

# Environment variables
.env